*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*  ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul li
{
	display: inline-block;
	position: relative;
}  */


.content
{
	padding: 30px;
	background-color: #ccc;
}

.content:before
{
	content:open-quote;
}

.content:after
{
	content:close-quote;
}